.Login{
    background-color: #063d75;
    height: 100vh;
    .Form{
        background: #fff;
        width: 500px;
        padding:20px 30px 20px 0;
        position: absolute;
        right:10vh;
        top:30vh
    }
}